.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.footerButtons {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footerButton {
  /* padding: 10px 20px; */
  /* background-color: #007bff; */
  color: white;
  text-decoration: none;
  /* border-radius: 5px; */
  font-size: 1rem;
  /* transition: background-color 0.2s ease; */
  text-decoration: underline;
}


.footerButton:hover {
  opacity: 0.7;
}

.paragraph{
  margin-left: 20px;
}